<html>
	<head>
	<!-- BOOTSTRAP -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>    
    <body>
    	<div class="col-md-12" style="height: 50px;"> </div>
    	<div class="col-md-12">
    	 <div class="col-md-1"></div>
         <div class="col-md-4"><form class="form-group" action="#" th:action="@{/typeProduitForm}" th:object="${typeProduitForm}" method="post">
            <fieldset>
            <legend>Ajout d'une nouvelle catégorie</legend>
            <table>
            <input type="hidden" th:field="*{id}" />
                <tr>
                    <td >Libelle </td>
                    <td><input type="text" th:field="*{libelle}" style="margin:7px;"/></td>
                    <td th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}">libelle Error</td>                    
                </tr>  
				<tr>
                    <td><button class="btn btn-default" type="submit"  style="margin: 10px;"> Valider </button></td>
                    <td><a class="btn btn-default" href="/"> Retour </a> </td>
                </tr>
            </table>
          </fieldset>
        </form></div>
        <div class="col-md-7"></div>
       </div>

    </body>
</html>